@import url("https://fonts.cdnfonts.com/css/norse");
body {
  font-family: "Norse", sans-serif;
  font-weight: 700;
  margin: 0;
}

 h1 {
  font-size: 5vw;
  background-color: red;
  color: white;
  box-shadow: 0 0 4px black;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addcontainer {
    text-align: center;
    padding: 30px 0 0 0;
}

.addbookbutton {
    text-align: center;
    font-size: 1vw;
    padding: 20px 40px;
    height: max-content;
    width: max-content;
    border: 0;
    border-radius: 30px;
    background-color: rgb(90, 90, 238);
    color: white;
    font-family: "Norse";
    font-weight: bold;
}



.addcontainer > button {
  text-align: center;
  font-size: 1vw;
  padding: 20px 40px;
  height: max-content;
  width: max-content;
  border: 0;
  border-radius: 30px;
  background-color: rgb(90, 90, 238);
  color: white;
  font-family: "Norse";
  font-weight: bold;
}
.addcontainer > button:hover {
  box-shadow: 0px 0px 3px 2px red;
}

.addcontainer > button:active {
  box-shadow: 0 0 4px 4px black;
}

.bookcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px 50px 50px;
    gap: 20px;
    height: 30vw;
}

.book {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 4px red;
    height:20vw;
    gap: 20px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 20px solid red;
}

.book > .bookbuttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.bookbuttons button {
    padding: 10px 70px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0 3px red;
}

.bookbuttons > button:hover {
    box-shadow: 0px 0px 1px 2px red;
  }
  
  .bookbuttons > button:active {
    box-shadow: 0 0 5px 2px red;
  }

.footer {
  text-align: center;
  font-size: 2vw;
  box-shadow: 0 0 4px 4px red;
  padding: 30px;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  height: 40px;
}

.popup {
    position: absolute;
    padding: 50px 50px 75px 50px;
    border: 1px solid blue;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    visibility: hidden;
}

.popup > p {
    font-size: 3em;
    font-weight: bolder;
    padding: 0;
    margin: 0 0 20px 0;
}

.popup > .booktextinputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.booktextinputs > .readstatus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
}

.bookinfo:focus {
    outline: none;
}

.booktextinputs > .bookinfo {
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    font-size: 1vw;
    width: 20vw;
    border: 0;
    box-shadow: 0 0 4px 2px red;
}

.checkbox {
    height: 25px;
    width: 25px;
    accent-color: rgb(76, 218, 76);
}

.submitbutton {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 3px black;
    font-size: 2vw;
    font-family: "Norse", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: red;
}

.submitbutton:active {
    box-shadow: 0 0 5px 2px black;
  }