@import url("https://fonts.cdnfonts.com/css/norse");
body {
  font-family: "Norse", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 4vw;
  background-color: red;
  color: white;
  box-shadow: 0 0 4px black;
  margin: 0;
  padding: 30px 0;
}

.library {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 700px;
}

.createbook {
  display: flex;
  font-size: 3vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
  box-shadow: 8px 0px 3px -4px red;
}

.createbook > button {
  text-align: center;
  font-size: 2vw;
  padding: 20px 40px;
  border: 0;
  border-radius: 30px;
  background-color: rgb(90, 90, 238);
  color: white;
  font-family: "Norse";
  font-weight: bold;
}
.createbook > button:hover {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
}

.createbook > button:active {
  box-shadow: 0 0 5px 2px black;
}

.bookcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
}

.book {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 4px red;
    height:auto;
    width: 200px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 20px solid red;
}

.book > .bookbuttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.bookbuttons button {
    padding: 10px 70px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0 3px red;
}

.bookbuttons > button:hover {
    box-shadow: 0px 0px 1px 2px red;
  }
  
  .bookbuttons > button:active {
    box-shadow: 0 0 5px 2px red;
  }

.footer {
  text-align: center;
  font-size: 2vw;
  box-shadow: 0 0 4px 4px red;
  padding: 30px;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  height: 40px;
}
